<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <!--<add name="CRM" connectionString="Url=http://192.168.113.22/NSC; Domain=BSSREL; Username=crm-admin; Password=NqMnCZZ1;" />-->
    <!--<add name="CRM" connectionString="Url=http://192.168.101.23/NSC; Domain=bss; Username=crm-sysuser; Password=[2cekthsfhukm];" />-->
    <add name="CRM" connectionString="Url=http://172.23.57.20/NSC; Domain=BSS; Username=crm-sysuser; Password=[2cekthsfhukm];"/>
    <add name="CRMDB" connectionString="Data Source=172.23.57.18;Initial Catalog=NSC_MSCRM; User Id=CrmDbUser;Password=hez6*aniz;Max Pool Size=400" providerName="System.Data.SqlClient" />
    <add name="KLADREntities" connectionString="metadata=res://*/Context.KLADRModel.csdl|res://*/Context.KLADRModel.ssdl|res://*/Context.KLADRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MP-DB-CRM-01;Initial Catalog=KLADR;Persist Security Info=True;User ID=KLADRUser;Password=ciba$2wy6d;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
        <!--<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="7.0.0.0" />-->

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>


      <dependentAssembly>

        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.6.1590.0" newVersion="4.6.1590.0" />

      </dependentAssembly>



    </assemblyBinding>

  </runtime>















</configuration>