<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="CRM" connectionString="Url=http://172.23.57.20/NSC; Domain=bss; Username=avzharov; Password=Passw0rd!DEV;"/>
    <add name="CRMDB" connectionString="Data Source=172.23.57.18;Initial Catalog=NSC_MSCRM; User Id=CrmDbUser;Password=CrmDbUser;Max Pool Size=400" providerName="System.Data.SqlClient"/>
    <add name="BusinessLogsDB" connectionString="Data Source=172.23.57.18;Initial Catalog=BusinessLogs; User Id=CrmDbUser;Password=CrmDbUser;Max Pool Size=400" providerName="System.Data.SqlClient"/>
    <add name="KLADREntities" connectionString="metadata=res://*/Context.KLADRModel.csdl|res://*/Context.KLADRModel.ssdl|res://*/Context.KLADRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MP-DB-CRM-01;Initial Catalog=KLADR;Persist Security Info=True;User ID=KLADRUser;Password=ciba$2wy6d;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>